{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>NASA Dataset</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>
            section{
                width: 600px;
                overflow: hidden;
            }
            section article{
                width: 200px;
                height: 100px;
                float: left;
                box-sizing: border-box;
            }

        </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'app:index' %}">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:main' %}">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:mydata' %}">Collected</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:realtime' %}">State</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
        <header class="masthead">
          <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" >
                <div class="col-lg-8 align-self-top">
                    <h3 class="text-white font-weight-bold">*battery SOH prediction model 시각화*</h3>
                        <form action="{% url 'app:nasa' %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="a" style="color:white">측정 capacity (A)</label>
                                <input type="float" name="a" id="a">
                                <input type="submit" value="submit">
                            </div>
                        </form>
                    <hr class="divider"/>
                    <div>
                        <span id="rest_cycle_id" style="color: white;">{{rest_cycle}}</span>
                    </div>
                </div>
                <div style="display:flex">
                    <div id="container1" style="flex:1;padding: 1px 1px 1px 1px;" >
                    
                        <script src="https://code.highcharts.com/highcharts.src.js"></script>
                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        
                        <script>
                        $.ajax({
                            url: "{% url 'app:nchart' %}",
                            dataType: 'json',
                            success: function (data) {
                                
                                Highcharts.chart('container1', {
    
                                title: {
                                text: 'Battery Prediction'
                                },
    
    
                                yAxis: {
                                title: {
                                    text: 'capacity'
                                }
                                },
    
                                xAxis: {
                                    title: {
                                    text: 'time'
                                }
                                },
    
                                legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                                },
    
                                plotOptions: {
                                series: {
                                    label: {
                                    connectorAllowed: false
                                    },
                                    pointStart: 1
                                }
                                },
    
                                series: [{
                                name: 'actual',
                                data: data.y_test_20
                                },{
                                    name: 'prediction',
                                    data: data.pred
                                }],
    
                                responsive: {
                                rules: [{
                                    condition: {
                                    maxWidth: 200
                                    },
                                    chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'left',
                                        verticalAlign: 'bottom'
                                    }
                                    }
                                }]
                                }
    
                                }
                                )
                            }
                    });
                        </script>
                    </div>    
                    <div id='container2' style="flex:1;padding: 1px 1px 1px 1px;" >
                    
                        <script src="https://code.highcharts.com/highcharts.src.js"></script>
                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        
                        <script>
                        $.ajax({
                            url: "{% url 'app:nchart' %}",
                            dataType: 'json',
                            success: function (data) {
                                
                                Highcharts.chart('container2', {
    
                                title: {
                                text: 'Battery Prediction'
                                },
    
                                subtitle: {
                                text: 'prediction'
                                },
    
                                yAxis: {
                                title: {
                                    text: 'capacity'
                                }
                                },
    
                                xAxis: {
                                    title: {
                                    text: 'time'
                                }
                                },
    
                                legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                                },
    
                                plotOptions: {
                                series: {
                                    label: {
                                    connectorAllowed: false
                                    },
                                    pointStart: 1
                                }
                                },
    
                                series: [{
                                name: 'prediction',
                                data: data.copy
                                },{
                                    name: 'actual',
                                    data: data.df['capacity']
                                }],
    
                                responsive: {
                                rules: [{
                                    condition: {
                                    maxWidth: 200
                                    },
                                    chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'left',
                                        verticalAlign: 'bottom'
                                    }
                                    }
                                }]
                                }
    
                                }
                                )
                                var element = document.getElementById("rest_cycle_id");
                                element.innerText = "남은 사이클 : " + Math.floor(data.rest_cycle * 100) / 100 + " 회";
                            }
                    });
                        </script>
                    </div> 
                </div>
            </div>
          </div>
        </header>
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
              <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" >
                  
                </div>
            </div>

       


