{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>Real time Data</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>

        </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'app:index' %}">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:main' %}">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:nasa' %}">NASA Data set</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
        <header class="masthead">
          <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" >
                <div class="col-lg-8 align-self-top">
                    <h3 class="text-white font-weight-bold">State of Battery</h3>
                    <hr class="divider" />
                </div>
                
                <div id="container">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    
                    <script>
                    $.ajax({
                        url: "{% url 'app:chart' %}",
                        dataType: 'json',
                        success: function (data) {
                            Highcharts.chart('container', {

                            title: {
                            text: 'Battery State'
                            },

                            subtitle: {
                            text: 'change of voltage'
                            },

                            yAxis: {
                            title: {
                                text: 'voltage'
                            }
                            },

                            xAxis: {
                                title: {
                                text: 'id'
                            }
                            },

                            legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                            },

                            plotOptions: {
                            series: {
                                label: {
                                connectorAllowed: false
                                },
                                pointStart: 1
                            }
                            },

                            series: [{
                            name: 'cell_1',
                            data: data.cell_1
                            },{
                            name: 'cell_2',
                            data: data.cell_2
                            }, {
                            name: 'cell_3',
                            data: data.cell_3
                            }, {
                            name: 'cell_4',
                            data: data.cell_4
                            },{
                            name: 'cell_5',
                            data: data.cell_5
                            }, {
                            name: 'cell_6',
                            data: data.cell_6
                            }, {
                            name: 'cell_7',
                            data: data.cell_7
                            }, {
                            name: 'cell_8',
                            data: data.cell_8
                            }, {
                            name: 'cell_9',
                            data: data.cell_9
                            },{
                            name: 'cell_10',
                            data: data.cell_10
                            }],

                            responsive: {
                            rules: [{
                                condition: {
                                maxWidth: 300
                                },
                                chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                                }
                            }]
                            }

                            }
                            )
                        }
                });
                    </script>
                </div>    
            </div>
        </div>   
            


