{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>State</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>

        </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'app:index' %}">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:main' %}">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:mydata' %}">Collected</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:nasa' %}">NASA Data</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
        <header class="masthead">
          <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" >
                <div class="col-lg-8 align-self-top">
                    <h3 class="text-white font-weight-bold">State of Battery</h3>
                    <select id="selectbox" name="selectbox" onchange="cellchange()">
                        <option value="" selected disabled>cell 선택</option>
                        <option value="all">all</option>              
                        <option value="cell1">cell1</option>
                        <option value="cell2">cell2</option>
                        <option value="cell3">cell3</option>
                        <option value="cell4">cell4</option>
                        <option value="cell5">cell5</option>
                        <option value="cell6">cell6</option>
                        <option value="cell7">cell7</option>
                        <option value="cell8">cell8</option>
                        <option value="cell9">cell9</option>
                        <option value="cell10">cell10</option>
                    </select>
                    <hr class="divider" />
                </div>
                <div id="all" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('all',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        
                                        },
                                        series: [{
                                        name: 'cell_1',
                                        data: data.cell_1
                                        },{
                                        name: 'cell_2',
                                        data: data.cell_2
                                        }, {
                                        name: 'cell_3',
                                        data: data.cell_3
                                        }, {
                                        name: 'cell_4',
                                        data: data.cell_4
                                        },{
                                        name: 'cell_5',
                                        data: data.cell_5
                                        }, {
                                        name: 'cell_6',
                                        data: data.cell_6
                                        }, {
                                        name: 'cell_7',
                                        data: data.cell_7
                                        }, {
                                        name: 'cell_8',
                                        data: data.cell_8
                                        }, {
                                        name: 'cell_9',
                                        data: data.cell_9
                                        },{
                                        name: 'cell_10',
                                        data: data.cell_10
                                        }],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell1" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell1',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_1',
                                        data: data.cell_1
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell2" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell2',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_2',
                                        data: data.cell_2
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell3" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell3',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_3',
                                        data: data.cell_3
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell4" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell4',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_4',
                                        data: data.cell_4
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell5" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell5',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_5',
                                        data: data.cell_5
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell6" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell6',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_6',
                                        data: data.cell_6
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell7" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell7',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_7',
                                        data: data.cell_7
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell8" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell8',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_8',
                                        data: data.cell_8
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell9" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell9',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_9',
                                        data: data.cell_9
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <div id="cell10" style="display: none;">
                    <script src="https://code.highcharts.com/highcharts.src.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $.ajax({
                            url: "{% url 'app:chart' %}",
                            dataType: 'json',
                            success: function (data) {
                                Highcharts.chart('cell10',{
                                        title: {
                                        text: 'Battery State'
                                        },

                                        subtitle: {
                                        text: 'change of voltage'
                                        },

                                        yAxis: {
                                        title: {
                                            text: 'voltage'
                                        }
                                        },

                                        xAxis: {
                                            title: {
                                            text: 'time'
                                        }
                                        },
                                        series: [{
                                        name: 'cell_10',
                                        data: data.cell_10
                                        },],

                                        legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                        },

                                        plotOptions: {
                                        series: {
                                            label: {
                                            connectorAllowed: false
                                            },
                                            pointStart: 1
                                        }
                                        },

                                        responsive: {
                                        rules: [{
                                            condition: {
                                            maxWidth: 300
                                            },
                                            chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                            }
                                        }]
                                    }  
                                    }
                                )}
                                });
                    </script>
                </div>
                <script>
                    function cellchange() {
                            $('#selectbox').change(function() {
                                var result = $('#selectbox option:selected').val();
                                if (result == 'all') {
                                    document.getElementById('all').style.display="";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell1') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell1').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell2') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell2').style.display="";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell3') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell3').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell4') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell4').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell5') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell5').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell6') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell6').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell7') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell7').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell8') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell8').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell9') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell9').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                    document.getElementById('cell10').style.display="none";
                                } else if (result == 'cell10') {
                                    document.getElementById('all').style.display="none";
                                    document.getElementById('cell10').style.display="";
                                    document.getElementById('cell2').style.display="none";
                                    document.getElementById('cell3').style.display="none";
                                    document.getElementById('cell4').style.display="none";
                                    document.getElementById('cell5').style.display="none";
                                    document.getElementById('cell6').style.display="none";
                                    document.getElementById('cell7').style.display="none";
                                    document.getElementById('cell8').style.display="none";
                                    document.getElementById('cell9').style.display="none";
                                    document.getElementById('cell1').style.display="none";
                                }
                            }); 
                            }; 
                </script>
                </div>    
            </div>
        </div>   
            


